<div class="row text-center">
  <div class="panel panel-default">
  <div class="panel-heading"><h2><%= t(".title") %></h2></div>
  <div class="panel-body">
    <div id="clearance" class="sign-up">
  

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
     
    </div>
  <% end %>
</div>

  </div>
</div>



</div>