<div class="container-fluid">
	<div class="row main">
		<div class="col-xs-12 text-center">
			<h1>WELCOME TO PAIRVnV</h1>

				


		</div>
		<div class="tag col-xs-12 text-center">
			Keep your traveling experience better
			<p><a href="/lists">See all listings</a></p>
		</div>
	</div>

	<div class="search row">
		<div class="col-xs-12 text-center">
			<form method="get" action="/searches/index" class="search-form form-inline">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<div class="form-group">
					<input class="where form-control" type="text" name="query[text]" placeholder="Where do you want to go?">
					
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="query[start_date]" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-start-date="0d" placeholder="Check-in">
					
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="query[end_date]" data-provide="datepicker" data-date-format="dd-mm-yyyy" data-date-start-date="0d" placeholder="Check-out">
					
				</div>
				<button type="submit" class="btn btn-default">Search listing</button>
			</form>
		</div>

	</div>

</div>
<div class="container">	
	<div class="feature row">
		<div class="frame col-md-7 america">
			
		</div>
		<div class="frame col-md-5 asia">
			
		</div>
		<div class="frame col-md-4 africa"></div>
		<div class="frame col-md-4 australia"></div>
		<div class="frame col-md-4 europe"></div>

	</div>

</div>



