// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "lists";
@import "users";

.menu-avatar {
	width: 50px;
	height: 50px;
	display: block;
	border: 1px solid;
	border-radius: 50%;
	overflow: hidden;
}
